body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Alegreya Sans SC", sans-serif;
}

.img10 {
  max-width: 10%;
  max-height: 10%;
}
.img20 {
  max-width: 20%;
  max-height: 20%;
}
.img30 {
  max-width: 30%;
  max-height: 30%;
}
.img40 {
  max-width: 40%;
  max-height: 40%;
}
.img50 {
  max-width: 50%;
  max-height: 50%;
}
.img60 {
  max-width: 60%;
  max-height: 60%;
}
.img70 {
  max-width: 70%;
  max-height: 70%;
}
.img80 {
  max-width: 80%;
  max-height: 80%;
}
.img90 {
  max-width: 90%;
  max-height: 90%;
}
.img100 {
  max-width: 100%;
  max-height: 100%;
}

.header {
  width: 100%;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-flex {
  width: 1635px;
  height: 100%;
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-menu {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header a {
  font-size: 32px;
  margin-left: 4%;
  margin-right: 4%;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.second-menu {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.offer {
  width: 100%;
  height: 585px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-white {
  width: 100%;
  height: 585px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-left {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.offer-left-top {
  width: 100%;
  font-size: 48px;
  color: white;
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

.offer-left-middle {
  width: 100%;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4%;
  margin-top: 2%;
  line-height: 2;
}

.offer-left-bottom {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.standart-button {
  width: 335px;
  height: 90px;
  background-color: #D63333;
  color: white;
  font-size: 32px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.offer-right {
  width: 55%;
  height: 100%;
}

.name {
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.title-black {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #303030;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-place {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.map {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.footer-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.footer-content a {
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
}

.footer-line {
  width: 100%;
  height: 50px;
  background-color: #303030;
}

.style-choice {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-place {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.style-menu {
  width: 330px;
  height: 75px;
  background-color: #CBCBCB;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
}

.style-menu-text {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
  font-weight: 500;
  padding-left: 4%;
}

.style-menu-img {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 100%;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-place {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-box {
  width: 100%;
  height: 400px;
  background-color: #303030;
  border-radius: 6px;
  display: flex;
}

.item-box-left {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
}

.item-box-right {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-box-style {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 24px;
  color: white;
  font-weight: 300;
}

.item-box-name {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 40px;
  color: white;
  font-weight: 500;
}

.standart-button-ver-2 {
  width: 275px;
  height: 70px;
  background-color: #D63333;
  color: white;
  font-size: 32px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.menu {
  width: 330px;
  height: 225px;
  background-color: #CBCBCB;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
  cursor: default;
  visibility: hidden;
}

.menu-part {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
}

.menu-part a {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
}

.form-place {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.form-block {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 550px;
  background-color: #303030;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  font-size: 24px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 300;
  padding-left: 50px;
}

.form input {
  background-color: #CBCBCB;
  border-radius: 6px;
  width: 450px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 10px;
}

.form input:focus {
  outline: none;
}

.error {
  width: 550px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  font-size: 24px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: 300;
  flex-direction: column;
}